# Ignorera Python-kompilerade filer
__pycache__/
*.pyc
*.pyo

# Ignorera nyckelfiler och krypterade filer
*.key
*.crypt

# Ignorera textfiler för Nmap-resultat
nmap_scan_*.txt

# Ignorera tillfälliga filer och inställningsfiler
.DS_Store
.env
.vscode/
.idea/
*.log
